table{
    border-collapse: collapse;
    width: 700px;
    height: 100px;
    margin: 0 auto;
}

th{
    background: lightblue;
}

td, th{
    width: 50px;
    padding: 7px;
    border: 1px solid;
    text-align: center;
}

img{
    width: 300px;
    height: 190px;
}