header{
    background: blue;
    height: 80px;
}
nav{
    background: lightblue;
    height: 30px;
}

section{
    background: lightcoral;
    height: 800px;
}

footer{
    background: black;
    height: 100px;
}