body{
    /*background-color: aquamarine; */
     /* background: url(fond1.jpg) no-repeat; */
   
    background-image: linear-gradient(to right top, #816bd1, #6862bb, #5359a4, #414f8c, #324474, #24426b, #1a3f60, #163c55, #134052, #18434e, #21464a, #2b4846);
    /*c'est un degrade de couleur et le toright top indique le serns du degrade*/
    background-size:cover; /*pour couvrir toute la surface*/
    background-position: fixed;
    background-repeat: no-repeat; /* pour éviter les repitition des image ou de la couleur*/
    /*height: 100vh;*/ /*vh => vue height c'est a dire 100% de la hauteur vue*/
    
}

header{
    background-color: rgba(255, 255, 255, 0.80);
    height: 100px;
    font-weight: bold;
    font-size: 30px;
   
 

}

section{
    background-color: white;
}


div{
    background: white;
}