table{
    border-collapse:collapse;
    width: 700px;
    height: 100px;
    margin: 0 auto;
}

th{
    background: lightgreen;
}

td, th{
    padding: 7px;
    border: 1px solid;
    text-align: center;
}

/* img{
    width: 50px;
} */