body{
    background-color: aquamarine;
    /*background: url(../02-les-premières-balises/chat-tigre-061604-650-400.jpg);*/
    background-size: auto;
    background-repeat: no-repeat;
}

header{
    background-color: blueviolet;
    height: 100px;
}