*{
    margin: 0;
    padding: 0;
    border 0;
    font-size: 100%;
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid;
}

/*p{
    background-color: red;
}*/

span{
    background: blue;
}

#boite{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    padding: 20px 10px 30px 40px;
}