
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/demoblog._v2.sql
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
