*{
    margin: 0;
    padding: 0;
}


.carrousel{
    position: relative;
    margin: 50px auto 0;
    max-width: 1200px;
    width: 75vw;/* viewport width */
    max-height: calc(1200px * 9 / 16);
    height: calc(75vw * 9 / 16);
    border: 15px solid white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    overflow: hidden;
}

.carrousel .reglette{
    display: flex;
    height: 100%;
    position: relative;
    top : 0;
    left : 0;
    justify-content: flex-start;
    align-items: center;
}

.carrousel .reglette figure{
    height: 100%;
    position: relative;
}

.carrousel .reglette figure img{
    width: 100%;
    height: 100%;
    transition: .5s;
}

.carrousel .reglette figure img:hover{
    transform: scale(1.5);
}

.carrousel .reglette figure figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 8px 0;
}

.carrousel .previous, .carrousel .next{
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, .4);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 50%;

}

.carrousel .previous{
    left:10px;
}

.carrousel .next{
    right:10px;
}

.carrousel .reglette.animavance{
    animation:avance 1s ease-in-out forwards;
    animation-iteration-count: 1;
}

.carrousel .reglette.animrecule{
    animation:recule 1s ease-in-out forwards;
    animation-iteration-count: 1;
}


@keyframes avance{
    0%{
        left: 0;
    }
    100%{
        left: -100%;
    }
}

@keyframes recule{
    0%{
        left: -100%
    }
    100%{
        left: 0;
    }
}