.style1{
    background-color: aqua;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.style2{
    background: green;
    color: white;
    font-family: 'Lucida Sans';
}